.module {
    overflow: inherit;
}

main {
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--module-color-background);
    color: var(--page-color-text);
}

textarea:focus, input:focus{
    outline: none;
}

.box_input {
    border: 10px solid var(--module-color-border);
    border-radius: 1.5rem;
    padding: 1rem;  
    width: 60vw;
}

#response {
    padding: 1.05rem 1.5rem;
    border: 10px solid var(--module-color-border);
    font-family: monospace;
    width: 100%;
    color: var(--module-color-text);
}


h1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--module-color-title);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
}

h2 {
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

ol > li {
    margin-left: 2rem;
    list-style-type: circle;
}

.logocontainer {
    display: flex;
    align-items: center;
    height: 100%;
}
  
svg {
    margin: auto;
    fill: var(--page-color-inactive);
    width: 24vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

apx-chart {
    display: block;
    width: 28vw;
}

.review {
    padding: 1rem 0px;
    padding-bottom: 0px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem 0px;
}

#rate_positive:hover, .positiveSelected {
    background-color: var(--color-review-green);
}

#rate_negative:hover, .negativeSelected {
    background-color: var(--color-review-red);
}

.inactive {
    background-color: var(--module-color-background-secondary);
}

#rate_positive, #rate_negative, .submit_feedback {
    border: 1px solid var(--page-color-background);
    padding: 1.5rem 2.5rem;
    font-size: 2rem;
    border-radius: .75rem;
    box-sizing: border-box;
    cursor: pointer;
    flex: 0 0 auto;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    height: 50%;
    right: 3rem;
}

li {
    margin: .5rem 0px;
    border-radius: .75rem;
    background-color: var(--module-color-highlight-complementary);
    padding: .5rem;
    color: white;
}

li::marker {
    color: var(--page-color-text);
  }

#rate_positive:focus, #rate_negative:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.modelResponse {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}


.keywords {
    padding: 1vw;
    background-color: var(--module-color-background-secondary);
    border-radius: 1rem;
}

apx-chart {
    width: 100%;
    min-width: 16rem;
}

.chart {
    display: flex;
    flex-direction: column;
}

.chart > * {
    align-self: center;
}

.form_layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.submit_feedback {
    align-self: center;
    background-color: var(--module-color-background-secondary);
    padding: 2vh 1vw;
    font-size: 1vw;
    color: var(--page-color-text);
}

.submit_feedback:hover {
    background-color: var(--page-color-background);
}

.extra-fields {
    margin: 0px 2vw;
}
