main {
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--module-color-background);
    color: var(--page-color-text);
}

textarea:focus, input:focus{
    outline: none;
}

.box_input {
    border: 10px solid var(--module-color-border);
    border-radius: 1.5rem;
    padding: 1rem;  
    width: 60vw;
}

#response {
    padding: 1.05rem 1.5rem;
    border: 10px solid var(--module-color-border);
    font-family: monospace;
    width: 100%;
    color: var(--module-color-text);
}


h1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    color: var(--module-color-title);
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    height: 100%;
}

h2 {
    padding-top: .5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

ol > li {
    margin-left: 2rem;
    list-style-type: circle;
}

.logocontainer {
    display: flex;
    align-items: center;
    height: 100%;
}
  
svg {
    margin: auto;
    fill: var(--page-color-inactive);
    width: 24vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

apx-chart {
    display: block;
    width: 28vw;
}
