<div id="chart">
    <div class="module">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [colors]="chartOptions.colors"
        [grid]="chartOptions.grid"
        [markers]="chartOptions.markers"
        [legend]="chartOptions.legend"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title"
        [tooltip]="chartOptions.tooltip"
      ></apx-chart>
    </div>
  </div>
