.layout {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.content {
    padding: 1rem;
    padding-top: 8rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


