button {
    z-index: 1002;
    background-color: #46494c;
    border: 1px solid transparent;
    border-radius: 1rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 5rem;
    font-weight: 600;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

button:hover {
    background-color: var(--page-color-button-pressed-warning);
}

button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

button:disabled {
    background-color: var(--page-color-button-pressed);
    cursor: not-allowed;
    opacity: 0.6;
}

button:disabled:hover {
    background-color: var(--page-color-button-pressed);
}

p {
    margin: 2px .5rem;
}
