.response * {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

h1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 3rem;
}

textarea {
    resize: none;
    width: 50vw;
    height: 100%;
    border: none;
}

.box_input {
    border: 5px solid black;
    border-radius: 1.5rem;
    background-color: white;
    padding: 1rem;
}

.response {
    padding: 1rem;
    border: 5px solid black;
    background-color: white;
    border-radius: 1.5rem;
}

.response * {
    color: black;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}