<main>
    <div>
        <nav>
            <button (click)="changePage('site')">site</button>
            <button (click)="changePage('outlook')">outlook</button>
            <button (click)="changePage('model')">model</button>
            <button (click)="changePage('api')">api</button>
        </nav>
        <div id="content" class="module" *ngIf="page === 'site'">
            <p>just git gud lol</p>
        </div>
        <div id="content" class="module" *ngIf="page === 'outlook'">
            <p>outlook documentation</p>
        </div>
        <div id="content" class="module" *ngIf="page === 'model'">
            <p>model documentation</p>
        </div>
        <div id="content" class="module" *ngIf="page === 'api'">
            <p>api documentation</p>
        </div>
    </div>
</main>
