#content {
    height: fit-content;
    width: 75vw;
    padding: 2rem;
}

main {
    display: flex;
    justify-content: center;
}

nav {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1px;
}

button {
    padding: 4px 10px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    background-color: var(--page-color-button);
}

button:hover {
    cursor: pointer;
    background-color: var(--page-color-button-pressed);
}

h1, h2, h3 {
    color: #333;
}
.endpoint {
    background-color: #f4f4f4;
    border-left: 6px solid #dd6f2f;
    margin: 20px 0;
    padding: 20px;
}
code {
    background-color: #e9ecef;
    padding: 2px 4px;
    border-radius: 4px;
}