#content {
    height: fit-content;
    width: 80vw;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: center;
}

nav {
    padding-left: 1.5rem;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1, h2, h3 {
    color: #333;
}
.endpoint {
    background-color: #f4f4f4;
    border-left: 6px solid #a8008c;
    margin: 20px 0;
    padding: 20px;
}
code {
    background-color: #e9ecef;
    padding: 2px 4px;
    border-radius: 4px;
}