<nav>
    <div class="bar">
        <h1>{{ this.pageTitle }}</h1>
    </div>
    <div class="module">
        <div class="navbar">
            <div class="logo">
                <span>L</span>
                <span>Filtrr</span>
            </div>
            <ul>
                <li>
                    <a [routerLink]="['/dashboard']">
                        <span class="icon">1</span>
                        <span class="text">dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/paste-in']">
                        <span class="icon">2</span>
                        <span class="text">paste-in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/settings']">
                        <span class="icon">3</span>
                        <span class="text">settings</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/model retrain']">
                        <span class="icon">4</span>
                        <span class="text">model retrain</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>