.navbar, .logo, .navbar li {
  width: 16vw;
  z-index: 1100;
}

.navbar, .logo {
  width: 16vw;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar {
  position: fixed;
  border-radius: 1.5rem;
  transition: height 0.5s;
  overflow: hidden;
  flex-direction: column;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: var(--nav-background-gradient); 
}

.navbar:hover {
  height: 100%;
}

.logo {
  position: fixed;
  top: 0px;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: var(--nav-color-text);
  background-color: var(--nav-color);
  display: flex;
  gap: 1rem;
}

.navbar a, .navbar .switch {
  display: none;
}

.navbar a .text {
  opacity: 0;
  transition: opacity 0.4s ease;
  padding-left: 1rem;
}

.navbar .switch {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.navbar:hover a .text, .navbar:hover .switch {
  opacity: 1;
}

.navbar:hover a{
  display: flex;
  align-items: center;
  color: var(--nav-color-text);
  text-decoration: none;
  padding: 1rem;
  width: 100%;
}

.navbar:hover .switch {
  display: flex;
  /*
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  */
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.navbar a:hover {
  background-color: var(--nav-color-hover);
}

.container {
  transition: width 0.2s ease-out;
  width: 0px;
}

.container:hover {
  width: 16vw;
}

.bar {
  width: 100vw;
  z-index: 1000;
  position: fixed;
  height: 6rem;
  background-color: var(--nav-color-background);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  padding-left: 18vw;
}

.filtrr {
  font-size: 3.5vw;
}

svg {
  width: 3vw;
  fill: var(--nav-color-text);
}

.logoutbutton {
  z-index: 1002;
  position: absolute;
  background-color: var(--page-color-button);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  height: 50%;
  right: 3rem;
}

.logoutbutton:hover {
  background-color: var(--page-color-button-pressed);
}

.logoutbutton:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .logoutbutton {
    padding: .75rem 1.5rem;
  }
}

