<main style="position: relative">
  <div class="container">
    <div id="useradd_form" class="module">
      <form (ngSubmit)="addUser()">
        <div>
          <label>User role: </label>
          <select name="user roles" id="userroles" [(ngModel)]="newUser_role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <div class="credentials">
          <div class="input-block">
            <input type="text" name="username" required [(ngModel)]="newUser_username" />
            <span class="placeholder">Username</span>
          </div>
          <div class="input-block">
            <input type="password" name="password" required [(ngModel)]="newUser_password" />
            <span class="placeholder">Password</span>
          </div>
          <div class="input-block">
            <input type="password" name="password_confirm" required [(ngModel)]="newUser_password_confirm" />
            <span class="placeholder">Confirm Password</span>
          </div>
        </div>
        <button class="submit" type="submit">Add User</button>
        <p class="errormessage" *ngIf="userAdd_errorMessage">Error: {{ userAdd_errorMessage }}</p>
      </form>
    </div>
    <div class="module">
      <div class="userList" >
        <ul>
          <li *ngFor="let account of accounts">
            <p>user: {{ account.username }}</p>
            <p>role: {{ account.role }}</p>
            <button class="deletebutton" (click)="this.deleteUser(account.username)">delete user</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<!-- (click)="this.logout()" *ngIf="this.isLoggedIn === true"*/ -->