<main style="position: relative">
    <div class="dashboard">
        <div class="mailamount">
            <app-mailamountgraph></app-mailamountgraph>
        </div>
        <div class="chart1">
            <div class="module"></div>
        </div>
        <div class="chart2">
            <div class="module"></div>
        </div>
        <div class="chart3">
            <div class="module"></div>
        </div>
        <div class="chart4">
            <div class="module">
                <app-certaintygraph title="bi-engineer"></app-certaintygraph>
            </div>
        </div>
        <div class="chart5">
            <div class="module">
                <app-certaintygraph title="data-engineer"></app-certaintygraph>
            </div>
        </div>
        <div class="chart6">
            <div class="module">
                <app-certaintygraph title="irrelevant"></app-certaintygraph>
            </div>
        </div>
    </div>
</main>