<main style="position: relative">
    <div class="dashboard">
        <div class="mailamount">
            <app-mailamountgraph></app-mailamountgraph>
        </div>
        <div class="chart2">
            <div class="module"></div>
        </div>
        <div class="chart3">
            <div class="module">
                <app-confusionmatrix></app-confusionmatrix>
            </div>
        </div>
        <div class="chart4tab">
            <div class="module"></div>
        </div>
        <div class="chart4">
            <div class="module">
                <div class="container">
                    <h1>rating info</h1>
                    <app-rating-count-graph></app-rating-count-graph>
                    <app-evaluation-graph></app-evaluation-graph>
                </div>
            </div>
        </div>
        <div class="chart5">
            <div class="module">
                <app-certaintygraph title="irrelevant" labelIndex="0" ></app-certaintygraph>
            </div>
        </div>
        <div class="chart6">
            <div class="module">
                <app-certaintygraph title="bi-engineer" labelIndex="1" ></app-certaintygraph>
            </div>
        </div>
        <div class="chart7">
            <div class="module">
                <app-certaintygraph title="data-engineer" labelIndex="2" ></app-certaintygraph>
            </div>
        </div>
    </div>
</main>