.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 96.5vw;
    width: 100%;
    gap: 2vw;
}

.mailamount {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.chart1 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.chart2 {
    grid-column: 5 / 6;
}

.chart3 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.module {
    height: 100%;
    width: 100%;
    color: var(--page-color-text);
}